<template>
  <div class="page">
  	<app-header>Marcador de reunião internacional</app-header>
    <div class="columns">
      <div class="column">
        <datepicker
          label="Melhor data para a reunião"
          placeholder="Informe uma data"
          v-on:input="updateDate($event, 'meetingDate')"></datepicker>
      </div>
      <div class="column">
        <autocomplete
          label="Sua cidade"
          id="sua-cidade"
          v-on:input="updatePlace($event, 'yourPlace')"></autocomplete>
      </div>
      <div class="column">
        <autocomplete
          label="Cidade da outra pessoa"
          id="outra-cidade"
          v-on:input="updatePlace($event, 'targetPlace')"></autocomplete>
      </div>
    </div>
    <schedule :date="meetingDate" :yourPlace="yourPlace" :targetPlace="targetPlace" v-if="complete" />
  </div>
</template>

<script>
import Header from 'components/Header'
import Datepicker from 'components/Datepicker'
import Autocomplete from 'components/Autocomplete'
import Schedule from 'components/Schedule'

export default {
  components: {
    'app-header': Header,
    'datepicker': Datepicker,
    'autocomplete': Autocomplete,
    'schedule': Schedule
  },
  data: function () {
    return {
      meetingDate: '',
      yourPlace: '',
      targetPlace: '',
      complete: false
    }
  },
  methods: {
    updateDate: function (date) {
      this.meetingDate = new Date(date)
      this.checkComplete()
    },
    updatePlace: function (place, key) {
      this[key] = place
      this.checkComplete()
    },
    checkComplete: function () {
      this.complete = (this.meetingDate !== '' && this.yourPlace !== '' && this.targetPlace !== '')
    }
  }
}
</script>
