<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<style lang="scss">

@import '../styles/variables';
@import '../styles/bulma';

body {
  font-family: $family-primary;
  background-color: $dark-gray;
  min-height: 100vh;
}

#app {
  background-color: $fake-white;
  box-shadow: 0 30px 100px rgba(0,0,0,0.05), 0 2px 4px rgba(0,0,0,0.15);
  color: $blue;
  font-family: $family-primary;
  font-smoothing: grayscale;
  left: 50%;
  // max-height: 450px;
  max-width: 750px;
  padding: 40px;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 500ms ease;
  width: calc(100% - 50px);
}

input.input {
  box-shadow: none;
}

</style>
