<template>
  <div>
    <label class="label" :for="id">{{ label }}</label>
    <div class="control">
        <input
          :id="id"
          type="text"
          ref="autocomplete"
          class="input is-medium"
          :placeholder="placeholder"
          :value="value" ></input>
    </div>
  </div>
</template>

<script>

  export default {
    props: {
      id: {
        required: true
      },
      label: {
        default: 'Cidade'
      },
      placeholder: {
        default: 'Digite um local'
      },
      value: {
        value: ''
      }
    },
    mounted () {
      var self = this
      var autocomplete = new google.maps.places.Autocomplete(this.$refs.autocomplete, { types: ['(cities)'] })
      autocomplete.addListener('place_changed', function (a) {
        var place = autocomplete.getPlace()
        self.$emit('input', place)
      })
    }
  }

</script>
