<template>
  <div>
    <label class="label" for="datepicker">{{ label }}</label>
    <div class="control has-icon has-icon-right">
      <Flatpickr id="datepicker" class="input is-medium" :options="options" :placeholder="placeholder" :value="value" />
      <span class="icon is-medium">
        <i class="fa fa-calendar fa-lg"></i>
      </span>
    </div>
  </div>
</template>

<script>

  import 'vue-flatpickr/theme/material_green.css'
  import VueFlatpickr from 'vue-flatpickr'
  import moment from 'moment'

  export default {
    components: {
      'Flatpickr': VueFlatpickr
    },
    props: ['label', 'placeholder', 'value'],
    data: function () {
      var self = this
      return {
        options: {
          dateFormat: 'd/m/Y',
          minDate: moment().format(),
          maxDate: moment().add(1, 'years').format(),
          disable: [
            function (date) {
              return date.getDay() === 0 || date.getDay() === 6
            }
          ],
          onChange: function (selectedDates, dateStr, instance) {
            // console.log('=======>', moment('dateStr').format())
            self.$emit('input', selectedDates[0])
          }
        }
      }
    }
  }
</script>

<style lang="scss">
  .control.has-icon .input.is-medium + .icon {
    top: 1.3em;
  }
</style>
