<template>
  <header class="app-header" id="app-header">
    <h1 class="title">
      <slot></slot>
      <i class="fa fa-send-o"></i>
    </h1>
  </header>
</template>

<style scoped lang="scss">

@import '../styles/variables';

.app-header {
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  margin: -40px -40px 40px;
  padding: 40px 40px 10px;
}

.title {
  font-size: 30px;
  font-weight: 200;
  margin: 0;

  .fa {
    float: right;
    color: $light-gray;
    transform: translateY(5px);
  }
}

</style>
