<template>
  <div class="box">
    <h2 class="title">Horário da reunião</h2>
    <ul class="list">
      <li>
        <span class="address">{{ yourFormatedPlace }} - </span>
        <span class="date-time"> {{ yourFormatedDate }} <strong>{{ yourFormatedHour }}</strong></span>
      </li>
      <li>
        <span class="address">{{ targetFormatedPlace }} - </span>
        <span class="date-time"> {{ targetFormatedDate }} <strong>{{ targetFormatedHour }}</strong></span>
      </li>
    </ul>
  </div>
</template>

<script>

  import moment from 'moment'

  require('moment-timezone')

  export default {

    props: ['date', 'yourPlace', 'targetPlace'],

    data: function () {
      return {
        differenceBetweenPlaces: 0,
        yourTimezone: '',
        targetTimezone: ''
      }
    },

    computed: {
      yourFormatedPlace: function () {
        this.getTimezone(this.yourPlace, 'yourTimezone')
        return this.yourPlace.formatted_address
      },

      targetFormatedPlace: function () {
        this.getTimezone(this.targetPlace, 'targetTimezone')
        return this.targetPlace.formatted_address
      },

      yourFormatedDate: function () {
        if (this.yourTimezone === '') return
        return moment(this.date).tz(this.yourTimezone).format('DD[/]MM[/]YYYY')
      },

      targetFormatedDate: function () {
        if (this.targetTimezone === '') return
        return moment(this.date).tz(this.targetTimezone).format('DD[/]MM[/]YYYY')
      },

      yourFormatedHour: function () {
        // TO DO
        // Remover redundância do código

        let diffInHours = 0
        const offset = this.differenceBetweenPlaces > 0 ? this.differenceBetweenPlaces : -this.differenceBetweenPlaces
        const timezone = this.differenceBetweenPlaces > 0 ? this.yourTimezone : this.targetTimezone

        if (this.yourTimezone !== '') {
          const date = moment(this.date)

          // your timezone
          const localOffset = date.utcOffset()

          // target timezone
          date.tz(timezone)
          const centralOffset = date.utcOffset()

          // diff
          diffInHours = ((localOffset - centralOffset) / 60) + 9 + offset

          return moment(this.date).tz(this.yourTimezone).add(diffInHours, 'hours').format('LT')
        }
      },

      targetFormatedHour: function () {
        // TO DO
        // Remover redundância do código

        let diffInHours = 0
        const offset = this.differenceBetweenPlaces > 0 ? this.differenceBetweenPlaces : -this.differenceBetweenPlaces
        const timezone = this.differenceBetweenPlaces > 0 ? this.yourTimezone : this.targetTimezone

        if (this.targetTimezone !== '') {
          const date = moment(this.date)

          // your timezone
          const localOffset = date.utcOffset()

          // target timezone
          date.tz(timezone)
          const centralOffset = date.utcOffset()

          // diff
          diffInHours = ((localOffset - centralOffset) / 60) + 9 + offset

          return moment(this.date).tz(this.targetTimezone).add(diffInHours, 'hours').format('LT')
        }
      }
    },

    mounted: function () {
      this.getTimezone(this.yourPlace, 'yourTimezone')
      this.getTimezone(this.targetPlace, 'targetTimezone')
    },

    methods: {
      getTimezone: function (place, placeTimezone) {
        const t = this,
          baseURL = 'https://maps.googleapis.com/maps/api/timezone/json?',
          apiKey = 'AIzaSyBdKcOOJljK0GCbqaM5EzsSkJorY7ZLsFo',
          lat = place.geometry.location.lat(),
          lng = place.geometry.location.lng(),
          timestamp = moment(t.date).format('X'),
          fullURL = baseURL + 'location=' + lat + ',' + lng + '&timestamp=' + timestamp + '&key=' + apiKey

        this.$http.get(fullURL).then(function (response) {
          console.log(response)
          t[placeTimezone] = response.data.timeZoneId
        }, function (error) {
          console.log(error.statusText)
        })
      },

      getDifferenceBetweenPlaces: function () {
        if (this.yourTimezone === '' || this.targetTimezone === '') return

        var now = moment()

        // your timezone
        now.tz(this.yourTimezone)
        var localOffset = now.utcOffset()

        // target timezone
        now.tz(this.targetTimezone)
        var centralOffset = now.utcOffset()

        // diff
        var diffInHours = (localOffset - centralOffset) / 60
        this.differenceBetweenPlaces = diffInHours
      }
    },

    watch: {
      yourTimezone: function () {
        this.getDifferenceBetweenPlaces()
      },

      targetTimezone: function () {
        this.getDifferenceBetweenPlaces()
      }
    }
  }

</script>

<style lang="scss">

@import '../styles/variables';

.box {
  .title {
    font-size: 25px;
    font-weight: bold;
  }

  ul.list {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #dbdbdb;

    li {
      border-bottom: 1px solid #dbdbdb;
      padding: 10px;
      font-size: 17px;
      color: $dark-gray;

      .address {
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
</style>
